

// Based on bootstrap and fontawesome

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 150px;
}

// 导航需使用.navbar类
// 这是一套安静的主题
.theme-light {
    @theme: "light";
    @import "@{theme}-utils";

    .container {
        max-width: 90%;
    }
    
    .navbar {
        margin-bottom: 10px;
        background-color: #fff;
        border: none;
        border-bottom: 1px solid @divider_color;

        .navbar-brand {
            padding-top: 20px;
            padding-bottom: 20px;
            height: auto;
            color: @light-text-color;
            font-size: 2rem;

            &:hover {
                color: @text-color;
            }
        }

        .navbar-nav {
            & > li {
                z-index: 100;
                padding-left: 5px;
                padding-right: 5px;

                & > a {
                    padding-top: 20px;
                    padding-bottom: 18px;
                    border-bottom: 2px solid transparent;
                }

                a, a:hover, a:focus {
                    background-color: #fff;
                    color: @light-text-color;
                }

                a:hover {
                    color: @text-color;
                }

                &.active a {
                    border-color: @main-color;
                    color: @text-color;
                }
            }
        }// .navbar-nav
    }// .navbar

    .main-wrap {
        h2 {
            font-size: 1.8rem;
            margin-top: 30px;
            margin-bottom: 20px;

            .fa, .glyphicon {
                margin-right: 5px;
            }
        }

        small {
            margin-left: 5px;
            color: @x-light-text-color;
        }

        .list {
            border-top: 1px solid @divider_color;

            .item{
                border-bottom: 1px solid @divider_color;
            }

            .title {
                margin-top: 0;
                margin-bottom: 8px;

                & > a {
                    color: inherit;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .meta {
                color: @x-light-text-color;
                font-size: @footnote_fontsize;

                * + span {
                    margin-left: 15px;
                }
            }

            &.main {
                @blank: 20px;
                padding-top: @blank;

                .item {
                    padding-bottom: @blank;
                    margin-bottom: @blank;

                    .title {
                        font-size: 2.3rem;

                        small {
                            margin-left: 15px;
                        }
                    }

                    .content {
                        color: @text-color;
                        font-size: @text-size;
                        p {
                            margin: 5px 0 0 0;
                        }
                    }
                }
            }

            &.side {
                @blank: 12px;
                padding-top: @blank;

                .item {
                    padding-bottom: @blank;
                    margin-bottom: @blank;
                }
            }
        }// .list
    }// .main-wrap

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        padding-top: 20px;
        border-top: 1px solid @divider_color;

        .pull-right {
            li > a {
                color: @x-light-text-color;

                &:hover {
                    color: @light-text-color;
                }
            }
        }
    }

    .footnote {
        color: @x-light-text-color;
        font-size: @footnote_fontsize;
    }
}



// 以下是各种有趣的杂项组件

// 自定义项目符号的有序列表
ol.ol-basic {
    list-style-type: none;
    padding-left: 5.2em;
    counter-reset: section;

    .bullet {
        margin-left: -3.1em;

        & + span:after {
            display: inline-block;
            min-width: 2em;
            padding-right: .4em;
            counter-increment: section;
            content: counter(section) ".";
            text-align: right;
        }
    }
}


// 以下是各种javascript插件的样式

.history-h{
    width: 60%;
    margin-bottom: 5px;

    span {
        display: inline-block;
        border-bottom: 2px solid transparent;
        cursor: pointer;
    }
}
