<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	  <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>走错路了！</title>
    <meta name="description" content="一年后，我们会是什么样子？告诉我，明年的第一天我会提醒你，你曾经有过的梦想">
    <meta name="keywords" content="一年后, 提醒">
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>404错误</h1><br>
        <p>这个页面不存在，走晕头了吧～</p>
        <p>先 <a class="btn btn-info" href="/"> 回首页 </a> 吧</p>
      </div>
    </div>
    <script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
