<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	  <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>服务器被玩坏了！</title>
    <meta name="description" content="一年后，我们会是什么样子？告诉我，明年的第一天我会提醒你，你曾经有过的梦想">
    <meta name="keywords" content="一年后, 提醒">
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>500错误</h1><br>
        <p>服务器还年轻，不小心被玩坏了～</p>
        <p>我已经知道这个错误，正在玩命修复中</p>
        <p>要不，咱先 <a class="btn btn-info" href="/"> 回首页看看 </a> ？</p>
      </div>
    </div>
    <script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
