
{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}
甜点 | 走梦
{% endblock %}

{% block stylesheet %}
<link href="{% static "css/desserts.css" %}" rel="stylesheet">
{% endblock %}

{% block desserts_nav %}
<li class="active"><a href="#">甜点</a></li>
{% endblock %}

{% block main_wrap %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h2><span class="fa fa-fire"></span> 推荐<small>即使厌了，歇脚也有收获</small></h2>
            <div class="list main">
                <div class="item">
                    <h2 class="title"><a href="#">Moonshile</a><small>1小时前</small></h2>
                    <div class="content">
                        <img src="/static/img/example.jpg">
                        <p>从今天起，关心粮食和蔬菜。我有一所房子，面朝大海，春暖花开...<a href="#">更多</a></p>
                    </div>
                    <div class="meta">
                        <div class="pull-right">
                            <span>
                                <span class="bullet fa fa-heart-o"></span> 123
                            </span>
                            <span>
                                <span class="bullet fa fa-code-fork"></span> 10
                            </span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <h2 class="title"><a href="#">Sunshile</a><small>10小时前</small></h2>
                    <div class="content">
                        <img src="/static/img/example.jpg">
                        <p>从今天起，关心粮食和蔬菜。我有一所房子，面朝大海，春暖花开...<a href="#">更多</a></p>
                    </div>
                    <div class="meta">
                        <div class="pull-right">
                            <span>
                                <span class="bullet fa fa-heart-o"></span> 123
                            </span>
                            <span>
                                <span class="bullet fa fa-code-fork"></span> 10
                            </span>
                        </div>
                    </div>
                </div>
            </div><!-- /.list.main -->
            <div class="footnote">暂无推荐甜品</div>
        </div><!-- /.col-sm-8 -->
        <div class="col-sm-4">
            <h2><span class="fa fa-tint"></span> 最新<small>给你不一样的轻松</small></h2>
            <div class="list side">
                <div class="item">
                    <div class="meta">
                        <a href="#">Moonshile</a>
                        <span>1天前</span>
                    </div>
                    <img src="/static/img/example.jpg">
                </div>
                <div class="item">
                    <div class="meta">
                        <a href="#">Moonshile</a>
                        <span>2天前</span>
                    </div>
                    <p>从今天起，关心粮食和蔬菜。我有一所房子，面朝大海，春暖花开...<a href="#">更多</a></p>
                </div>
            </div><!-- /.list.side -->
            <div class="footnote">暂无新甜品</div>
        </div><!-- /.col-sm-4 -->
    </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}

{% block javascript %}

{% endblock %}
