
{% extends "base.html" %}
{% load static from staticfiles %}

{% block stylesheet %}
<link href="{% static "css/desserts.css" %}" rel="stylesheet">
{% endblock %}

{% block desserts_nav %}
<li class="active"><a href="#">甜点</a></li>
{% endblock %}

{% block main_wrap %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h2><span class="fa fa-fire"></span> 推荐<small>即使厌了，歇脚也有收获</small></h2>
            <div class="list main">
                <div class="item">
                    
                </div>
                <div class="item"></div>
            </div><!-- /.list.main -->
            <div class="footnote">暂无推荐甜品</div>
        </div><!-- /.col-sm-8 -->
        <div class="col-sm-4">
            <h2><span class="fa fa-tint"></span> 最新<small>给你不一样的轻松</small></h2>
            <div class="list side">
                <div class="item"></div>
                <div class="item"></div>
            </div><!-- /.list.side -->
            <div class="footnote">暂无新甜品</div>
        </div><!-- /.col-sm-4 -->
    </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}

{% block javascript %}

{% endblock %}
