
{% extends "base.html" %}
{% load static from staticfiles %}

{% block stylesheet %}
<link href="{% static "css/desserts.css" %}" rel="stylesheet">
{% endblock %}

{% block desserts_nav %}
<li class="active"><a href="#">甜点</a></li>
{% endblock %}

{% block main_wrap %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h2><span class="fa fa-shopping-cart"></span> 推荐<small>如果厌了，找个好地方歇脚</small></h2>
            <div class="list main">
                <div class="item"></div>
            </div>
        </div>
        <div class="col-sm-4">
            <h2><span class="fa fa-shopping-cart"></span> 最新<small>如果厌了，找个好地方歇脚</small></h2>
            <div class="list side">
                <div class="item"></div>
            </div>
        </div>
    </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}

{% block javascript %}

{% endblock %}
