
{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}
我要甜点 | 走梦
{% endblock %}

{% block stylesheet %}
<link href="{% static "css/dessert.css" %}" rel="stylesheet">
{% endblock %}

{% block main_wrap %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1>每一天，</h1>
            <h1>都可以有意义。</h1>
            <div class="list main">
                <div class="item">
                    <h2 class="title"><small>点击选择感兴趣的活动</small></h2>
                    <div class="kinds sour">
                        <span id="s1" class="default">旅行</span>
                        <span id="s2" class="default">做饭</span>
                        <span id="s3" class="default">阅读</span>
                        <span id="s4" class="default">绘画</span>
                        <span id="s5" class="default">摄影</span>
                    </div>
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" id="dessert" name="dessert" placeholder="自定义">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default add-dessert">添加</button>
                        </span>
                    </div>
                </div><!-- /.item -->
                <div class="item">
                    <h2 class="title"><small>下边是你的备选活动，点击去掉不想要的</small></h2>
                    <div class="kinds dest">
                    </div>
                    <button type="button" class="btn btn-default">随机选择全部</button>
                </div><!-- /.item -->
                <div class="item">
                    <h2 class="title"><small>你已经选择了<span class="label label-success">旅行</span>，记得把今天的收获分享给大家～</small></h2>
                    <div class="form-group">
                        <textarea type="text" class="form-control" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="file" class="form-control" placeholder="最好有一张照片留念哦（可选）">
                    </div>
                    <button type="button" class="btn btn-default">发表</button>
                </div><!-- /.item -->
            </div><!-- /.list.main -->
        </div><!-- /.col-sm-8 -->
        <div class="col-sm-4">
        </div><!-- /.col-sm-4 -->
    </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}

{% block javascript %}
<script src="{% static "js/dessert.js" %}"></script>
{% endblock %}
