
{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}
Moonshile 的餐品 | 走梦
{% endblock %}

{% block stylesheet %}
<link href="{% static "css/dish-detail.css" %}" rel="stylesheet">
{% endblock %}

{% block main_wrap %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            
        </div><!-- /.col-sm-8 -->
        <div class="col-sm-4"></div><!-- /.col-sm-4 -->
    </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}

{% block javascript %}

{% endblock %}
