
{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}
Moonshile 的餐品 | 走梦
{% endblock %}

{% block stylesheet %}
<link href="{% static "css/dish-detail.css" %}" rel="stylesheet">
{% endblock %}

{% block main_wrap %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h2><span class="fa fa-list-ol"></span> Checklist</h2>
            <div class="list main">
                <div class="item">
                    <ol class="ol-basic">
                        <li>
                            <span class="bullet fa fa-check-square text-success"></span>
                            <span></span>浏览资讯
                            <small>老罗确实有情怀，给OpenSSL捐了这么多</small>
                        </li>
                        <li>
                            <span class="bullet fa fa-minus-square text-danger"></span>
                            <span></span>读书
                            <small>看病去了，搁置</small>
                        </li>
                        <li>
                            <span class="bullet fa fa-square text-muted"></span>
                            <span></span>实验室工作
                        </li>
                        <li>
                            <span class="bullet fa fa-square text-muted"></span>
                            <span></span>自己喜欢的事情
                        </li>
                        <li>
                            <span class="bullet fa fa-square text-muted"></span>
                            <span></span>小节
                        </li>
                    </ol>
                </div>
            </div>
        </div><!-- /.col-sm-8 -->
        <div class="col-sm-4">
        </div><!-- /.col-sm-4 -->
    </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}

{% block javascript %}
{% endblock %}
