
{% extends "base.html" %}

{% block stylesheet %}

{% endblock %}

{% block dishes_nav %}
<li class="active"><a href="#">餐品</a></li>
{% endblock %}

{% block main_wrap %}
<div class="container">
  <div class="row">
    <div class="col-sm-8">
        <h2><span class="fa fa-cutlery"></span> 精致<small>就是回味悠长</small></h2>
        <div class="list main">
            <div class="item">
            </div>
            <div class="item">
            </div>
            <div class="footnote">还没有出现精致的餐品，你来贡献如何？</div>
        </div>
    </div>
    <div class="col-sm-4">
        <h2><span class="fa fa-spoon"></span> 新品<small>给你更多体验</small></h2>
        <div class="list side">
            <div class="item">
            </div>
            <div class="item">
            </div>
            <div class="footnote">暂无新品，来做一个！</div>
        </div>
    </div>
  </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}

{% block javascript %}

{% endblock %}
