
{% extends "base.html" %}

{% block stylesheet %}

{% endblock %}

{% block dishes_nav %}
<li class="active"><a href="#">餐品</a></li>
{% endblock %}

{% block main_wrap %}
<div class="container">
  <div class="row">
    <div class="col-sm-8">
        <h2><span class="fa fa-cutlery"></span> 精致<small>就是回味悠长</small></h2>
        <div class="list main">
            <div class="item">
                <h2 class="title"><a href="#">Checklist</a><small><a href="#">Moonshile</a></small></h2>
                <div class="content">
                    <ol>
                        <li>
                            <span class="fa fa-check-square text-success"></span>
                            <span></span>浏览资讯
                            <small>老罗确实有情怀，给OpenSSL捐了这么多老罗确实有情怀，给OpenSSL捐了这么多老罗确实有情怀，给OpenSSL捐了这么多老罗确实有情怀，给OpenSSL捐了这么多老罗确实有情怀，给OpenSSL捐了这么多</small>
                        </li>
                        <li>
                            <span class="fa fa-check-square text-success"></span>
                            <span></span>读书
                            <small>《鸟哥的Linux私房菜》</small>
                        </li>
                        <li>
                            <span class="fa fa-check-square text-success"></span>
                            <span></span>实验室工作
                            <small>学习OCaml，既要要做就要专心要认真</small>
                        </li>
                        <li>
                            <span class="fa fa-check-square text-success"></span>
                            <span></span>自己喜欢的事情
                            <small>goondream首页</small>
                        </li>
                        <li>
                            <span class="fa fa-check-square text-success"></span>
                            <span></span>小节
                            <small>记录worklog，整理知识点，复习</small>
                        </li>
                        <li>
                            <span class="fa fa-check-square text-success"></span>
                            <span></span>小节
                            <small>记录worklog，整理知识点，复习</small>
                        </li>
                        <li>
                            <span class="fa fa-check-square text-success"></span>
                            <span></span>小节
                            <small>记录worklog，整理知识点，复习</small>
                        </li>
                        <li>
                            <span class="fa fa-check-square text-success"></span>
                            <span></span>小节
                            <small>记录worklog，整理知识点，复习</small>
                        </li>
                        <li>
                            <span class="fa fa-check-square text-success"></span>
                            <span></span>小节
                            <small>记录worklog，整理知识点，复习</small>
                        </li>
                        <li>
                            <span class="fa fa-check-square text-success"></span>
                            <span></span>小节
                            <small>记录worklog，整理知识点，复习</small>
                        </li>
                    </ol>
                </div>
                <div class="history">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="meta">
                    <span>更新于1小时前</span>
                    <div class="pull-right">
                        <span>
                            <span class="fa fa-heart-o"></span> 123
                        </span>
                        <span>
                            <span class="fa fa-code-fork"></span> 10
                        </span>
                    </div>
                </div>
            </div>
            <div class="item">
                <h2 class="title"><a href="#">Checklist</a><small><a href="#">Moonshile</a></small></h2>
                <div class="content">
                    <ol>
                        <li>
                            <span class="fa fa-check-square text-success"></span>
                            <span></span>浏览资讯
                            <small>老罗确实有情怀，给OpenSSL捐了这么多</small>
                        </li>
                        <li>
                            <span class="fa fa-minus-square text-danger"></span>
                            <span></span>读书
                            <small>看病去了，搁置</small>
                        </li>
                        <li>
                            <span class="fa fa-square text-muted"></span>
                            <span></span>实验室工作
                        </li>
                        <li>
                            <span class="fa fa-square text-muted"></span>
                            <span></span>自己喜欢的事情
                        </li>
                        <li>
                            <span class="fa fa-square text-muted"></span>
                            <span></span>小节
                        </li>
                    </ol>
                </div>
                <div class="history">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="meta">
                    <span>更新于1小时前</span>
                    <div class="pull-right">
                        <span>
                            <span class="fa fa-heart-o"></span> 123
                        </span>
                        <span>
                            <span class="fa fa-code-fork"></span> 10
                        </span>
                    </div>
                </div>
            </div>
            <div class="footnote">还没有出现精致的餐品，你来贡献如何？</div>
        </div>
    </div>
    <div class="col-sm-4">
        <h2><span class="fa fa-spoon"></span> 新品<small>给你更多体验</small></h2>
        <div class="list side">
            <div class="item">
                <h2 class="title"><a href="#">Checklist</a></h2>
                <div class="meta">
                    <a href="#">Moonshile</a>
                    <span>1天前</span>
                </div>
            </div>
            <div class="item">
                <h2 class="title"><a href="#">Checklist</a></h2>
                <div class="meta">
                    <a href="#">Moonshile</a>
                    <span>1天前</span>
                </div>
            </div>
            <div class="footnote">暂无新品，来做一个！</div>
        </div>
    </div>
  </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}

{% block javascript %}

{% endblock %}
