
{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}
登录 | 走梦
{% endblock %}

{% block stylesheet %}
<!--link href="{% static "css/signin.css" %}" rel="stylesheet"-->
{% endblock %}

{% block signin_nav %}
<li class="active"><a href="#">登录</a></li>
{% endblock %}

{% block main_wrap %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
        {% if new %}
            <h2><span class="fa fa-sign-in"></span> 注册成功，请登录</h2>
        {% else %}
            <h2><span class="fa fa-sign-in"></span> 登录<small>无力的挣扎后，我又来了，因为我对生活充满渴望</small></h2>
        {% endif %}
            <div class="list main">
                <div class="item">
                    <form method="post" action=".?next={{ request.GET.next }}">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control input-sm" id="username" name="username" placeholder="用户名或邮箱">
                            {% if err.username %}
                            <p class="error">{{ err.username|join:'，' }}</p>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control input-sm" id="password" name="password" placeholder="密码">
                            {% if err.password %}
                            <p class="error">{{ err.password|join:'，' }}</p>
                            {% endif %}
                        </div>
                        {% if err.total %}
                        <p class="error">{{ err.total|join:'，' }}</p>
                        {% endif %}
                        <button type="submit" class="btn btn-default btn-sm">继续真实之旅</button>
                    </form>
                </div>
            </div>
        </div><!-- /.col-sm-8 -->
        <div class="col-sm-4">
        </div><!-- /.col-sm-4 -->
    </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}

{% block javascript %}
<!--script src="{% static "js/signin.js" %}"></script-->
{% endblock %}
