h2.title {
    font-size: 1.2em!important;
}

.item > ol {
    font-size: 1.1em;
    margin: 0;

    & > li {
        padding: 3px 0 3px 0;

        &.on {
            width: 90%;

            & > div {
                display: inline-block;
            }

            & > * {
                width: 100%;
                margin-bottom: 3px;
            }
        }
    }
}

span.btn {
    font-size: .9em;
}

.btn-cancel {
    margin-left: 1em;
}
