
.white-form {
  z-index: 100;
  background-color: rgba(239,239,239,.6);
  border: 1px solid #f8f8f8;
  border-radius: 10px;
}

.optional {
  margin-bottom: 15px;
}

.optional-header {
  cursor: default;
}

.optional-body {
  display: none;
  padding: 10px 50px 5px 50px;
  border: 1px dotted #888;
  border-top: none;
}

.text-back {
  padding: 15px;
  background-color: rgba(239,239,239,.5);
  border: 1px solid rgba(239,239,239,.35);
  border-radius: 5px;
}

.curtain {
  padding-left: 10%;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .curtain {
    padding-left: 15%;
  }
}

@media screen and (min-width: 1280px) {
  .curtain {
    padding-left: 20%;
  }
}

.curtain h1 {
  font-size: 63px;
  line-height: 1.1;
}

.curtain p {
  font-size: 21px;
  line-height: 1.4;
}

.number {
  font-size: 46px;
  color: #08f;
}

