
/* css for mobile */

.page {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.page div {
  text-align: left;
}

.page a {
  color: #555;
}

.page .header {
  margin: 50px;
  text-align: center;
}

.page .footer {
  position: absolute;
  bottom: 0;
  line-height: 1;
  color: #333;
  font-size: 12px;
}

.note {
  color: #666;
  font-size: 12px;
  padding: 5px;
}
