
body {
  background-color: #000;
  color: #ccc;
  background-size: cover;
}

.content {
  padding: 20px 20px;
  word-wrap:break-word;
  word-break:normal;
}

.content .question {
  margin: 15px 0;
  font-size: 18px;
}

.content .ans-list {
  margin-bottom: 25px;
  color: #888;
}

.content .ans-list p {
  cursor: pointer;
}

.btn-outline {
  background-color: transparent;
  border-color: #fff;
}

.timer {
  min-width: 50px;
  color: #090;
  text-align: right;
}

