
.spring {
  min-height: 800px;
  padding-top: 250px;
  background-color: rgba(255, 170, 255, 0);
}

.summer {
  min-height: 500px;
  padding-top: 100px;
  background-image: url(../img/summer.jpg);
  background-color: #8d8;
}

.fall {
  min-height: 500px;
  padding-top: 250px;
  background: url(../img/fall.jpg) no-repeat center center fixed;
  background-size: cover;
  background-color: #fc8;
}

.winter {
  min-height: 500px;
  padding-top: 200px;
  background-image: url(../img/winter.jpg);
  background-color: #cff;
}

.caret {
  transform: rotate(-90deg);
  transition-duration: .5s;
}

.white-form {
  margin-top: 15%;
  margin-left: 10%;
  padding: 35px 55px 35px 55px;
  width: 80%;
  transition-duration: .5s;
}

@media screen and (min-width: 768px) {
  .white-form {
    position: fixed;
    margin-top: 5%;
    right: 10%;
    width: 40%;
    max-width: 399px;
  }
}

@media screen and (min-width: 992px) {
  .white-form {
    position: fixed;
    margin-top: 10%;
    right: 15%;
    width: 30%;
    min-width: 399px;
    max-width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .white-form {
    margin-top: 15%;
    right: 20%;
  }
}

.text-back {
  width: 30%;
}

@media screen and (min-width: 1280px) {
  .text-back {
    width: 25%;
  }
}

.optional-body .form-group {
  margin-bottom: 5px;
}

body {
  background: url(../img/spring.jpg) no-repeat center center fixed;
  background-size: cover;
}

h1 {
  margin-bottom: 50px;
  font-family: 华文行楷;
}

p {
  font-family: 楷体;
  color: #333;
}
