
body {
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.history{
    width: 60%;
    margin-bottom: 5px;

    span {
        display: inline-block;
        margin-right: -4px;
        width: 20%;
        border-bottom: 2px solid green;
        cursor: pointer;

        &:first-child {
            border-color: red;
        }
    }
}
